### TEAMPLATE ###
#launch.json folder
.vscode
.cursor

node_modules
dist
build
test
bundle.js
bundle.js.map
test.js

.cache
.env

# 配置文件
config.env

# 日志文件

# 临时文件
temp.json
newResources.json

# 资源文件
.docx
.pptx
.pdf
.doc
.ppt
.xls
server/public/uploads/documents/______________________________-1745667141475-405754548.docx
